Web References/ttqsservice1/ttqs_service_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/ttqs" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/ttqs" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/ttqs">
      <s:element name="ttqs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tok" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ttqsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ttqsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ttqsSoapIn">
    <wsdl:part name="parameters" element="tns:ttqs" />
  </wsdl:message>
  <wsdl:message name="ttqsSoapOut">
    <wsdl:part name="parameters" element="tns:ttqsResponse" />
  </wsdl:message>
  <wsdl:portType name="ttqs_service_1Soap">
    <wsdl:operation name="ttqs">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">TTQS系統資料庫介接</wsdl:documentation>
      <wsdl:input message="tns:ttqsSoapIn" />
      <wsdl:output message="tns:ttqsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ttqs_service_1Soap" type="tns:ttqs_service_1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ttqs">
      <soap:operation soapAction="http://tempuri.org/ttqs/ttqs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ttqs_service_1Soap12" type="tns:ttqs_service_1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ttqs">
      <soap12:operation soapAction="http://tempuri.org/ttqs/ttqs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ttqs_service_1">
    <wsdl:port name="ttqs_service_1Soap" binding="tns:ttqs_service_1Soap">
      <soap:address location="https://wltims.wda.gov.tw/GetJobMail3/ttqs_service_1.asmx" />
    </wsdl:port>
    <wsdl:port name="ttqs_service_1Soap12" binding="tns:ttqs_service_1Soap12">
      <soap12:address location="https://wltims.wda.gov.tw/GetJobMail3/ttqs_service_1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>