Web References/tw.gov.wda.wltims1/iCapWebS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://icap.wda.gov.tw/ap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://icap.wda.gov.tw/ap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://icap.wda.gov.tw/ap/">
      <s:element name="Ws_onlineClass1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_AUTH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ICAP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ws_onlineClass1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ws_onlineClass1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ws_onlineClass2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_AUTH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ICAP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ws_onlineClass2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ws_onlineClass2Result" type="tns:iCAPData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="iCAPData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="iCAPData1" type="tns:ArrayOfCourse" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCourse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Course">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CASE_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLASS_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="C_ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="COMPANY" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TRAIN_COURSE_HOURS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLASS_LEVEL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TARGET" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESSENTIAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DETAIL" type="tns:ArrayOfUnit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Unit" nillable="true" type="tns:Unit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Unit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UNIT_NAME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UNIT_HOUR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEA_EXP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SUP_EXP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEACH_MATERIALS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEACH_EQUIPMENT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACTUAL_TEACHER" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TEACH_METHOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EVALUATION_METHOD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OUTLINE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACTUAL_T_EXP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACTUAL_SUPPORT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ACTUAL_S_EXP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Ws_onlineClassDiff1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_AUTH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SERIAL_NUMBER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CLASS_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EMAIL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OCID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Ws_onlineClassDiff1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ws_onlineClassDiff1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Ws_onlineClass1SoapIn">
    <wsdl:part name="parameters" element="tns:Ws_onlineClass1" />
  </wsdl:message>
  <wsdl:message name="Ws_onlineClass1SoapOut">
    <wsdl:part name="parameters" element="tns:Ws_onlineClass1Response" />
  </wsdl:message>
  <wsdl:message name="Ws_onlineClass2SoapIn">
    <wsdl:part name="parameters" element="tns:Ws_onlineClass2" />
  </wsdl:message>
  <wsdl:message name="Ws_onlineClass2SoapOut">
    <wsdl:part name="parameters" element="tns:Ws_onlineClass2Response" />
  </wsdl:message>
  <wsdl:message name="Ws_onlineClassDiff1SoapIn">
    <wsdl:part name="parameters" element="tns:Ws_onlineClassDiff1" />
  </wsdl:message>
  <wsdl:message name="Ws_onlineClassDiff1SoapOut">
    <wsdl:part name="parameters" element="tns:Ws_onlineClassDiff1Response" />
  </wsdl:message>
  <wsdl:portType name="iCapWebS1Soap">
    <wsdl:operation name="Ws_onlineClass1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ICAP 標章編號資料-1</wsdl:documentation>
      <wsdl:input message="tns:Ws_onlineClass1SoapIn" />
      <wsdl:output message="tns:Ws_onlineClass1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ws_onlineClass2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ICAP 標章編號資料-2</wsdl:documentation>
      <wsdl:input message="tns:Ws_onlineClass2SoapIn" />
      <wsdl:output message="tns:Ws_onlineClass2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Ws_onlineClassDiff1">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">勾選班級送出比對需求給iCap系統-1</wsdl:documentation>
      <wsdl:input message="tns:Ws_onlineClassDiff1SoapIn" />
      <wsdl:output message="tns:Ws_onlineClassDiff1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="iCapWebS1Soap" type="tns:iCapWebS1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ws_onlineClass1">
      <soap:operation soapAction="http://icap.wda.gov.tw/ap/Ws_onlineClass1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ws_onlineClass2">
      <soap:operation soapAction="http://icap.wda.gov.tw/ap/Ws_onlineClass2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ws_onlineClassDiff1">
      <soap:operation soapAction="http://icap.wda.gov.tw/ap/Ws_onlineClassDiff1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="iCapWebS1Soap12" type="tns:iCapWebS1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ws_onlineClass1">
      <soap12:operation soapAction="http://icap.wda.gov.tw/ap/Ws_onlineClass1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ws_onlineClass2">
      <soap12:operation soapAction="http://icap.wda.gov.tw/ap/Ws_onlineClass2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ws_onlineClassDiff1">
      <soap12:operation soapAction="http://icap.wda.gov.tw/ap/Ws_onlineClassDiff1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iCapWebS1">
    <wsdl:port name="iCapWebS1Soap" binding="tns:iCapWebS1Soap">
      <soap:address location="https://wltims.wda.gov.tw/iCapWeb/iCapWebS1.asmx" />
    </wsdl:port>
    <wsdl:port name="iCapWebS1Soap12" binding="tns:iCapWebS1Soap12">
      <soap12:address location="https://wltims.wda.gov.tw/iCapWeb/iCapWebS1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>