Web References/tw.gov.wda.wltims2/TeacherSchedules.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://wltims.Wdaline/TeacherSchedules" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://wltims.Wdaline/TeacherSchedules" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wltims.Wdaline/TeacherSchedules">
      <s:element name="SearchAttendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_OCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_CourseDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAttendanceResult" type="tns:ResultOfListOfTeacherAttendanceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultOfListOfTeacherAttendanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfTeacherAttendanceResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTeacherAttendanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TeacherAttendanceResponse" nillable="true" type="tns:TeacherAttendanceResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TeacherAttendanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseSerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeacherIdentity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TeacherName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SignMethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SignType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SignedTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchAttendanceR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_OCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_CourseDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAttendanceRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAttendanceRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchAttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAttendance" />
  </wsdl:message>
  <wsdl:message name="SearchAttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="SearchAttendanceRSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAttendanceR" />
  </wsdl:message>
  <wsdl:message name="SearchAttendanceRSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAttendanceRResponse" />
  </wsdl:message>
  <wsdl:portType name="TeacherSchedulesSoap">
    <wsdl:operation name="SearchAttendance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">教師出勤記錄搜尋OF</wsdl:documentation>
      <wsdl:input message="tns:SearchAttendanceSoapIn" />
      <wsdl:output message="tns:SearchAttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchAttendanceR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">教師出勤記錄搜尋SR</wsdl:documentation>
      <wsdl:input message="tns:SearchAttendanceRSoapIn" />
      <wsdl:output message="tns:SearchAttendanceRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TeacherSchedulesSoap" type="tns:TeacherSchedulesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAttendance">
      <soap:operation soapAction="http://wltims.Wdaline/TeacherSchedules/SearchAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAttendanceR">
      <soap:operation soapAction="http://wltims.Wdaline/TeacherSchedules/SearchAttendanceR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TeacherSchedulesSoap12" type="tns:TeacherSchedulesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAttendance">
      <soap12:operation soapAction="http://wltims.Wdaline/TeacherSchedules/SearchAttendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAttendanceR">
      <soap12:operation soapAction="http://wltims.Wdaline/TeacherSchedules/SearchAttendanceR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeacherSchedules">
    <wsdl:port name="TeacherSchedulesSoap" binding="tns:TeacherSchedulesSoap">
      <soap:address location="https://wltims.wda.gov.tw/WdaLine/TeacherSchedules.asmx" />
    </wsdl:port>
    <wsdl:port name="TeacherSchedulesSoap12" binding="tns:TeacherSchedulesSoap12">
      <soap12:address location="https://wltims.wda.gov.tw/WdaLine/TeacherSchedules.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>