Web References/tw.gov.wda.wltims/StudentSchedules.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://wltims.Wdaline/StudentSchedules" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://wltims.Wdaline/StudentSchedules" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wltims.Wdaline/StudentSchedules">
      <s:element name="SearchAttendance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_OCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_CourseDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAttendanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAttendanceResult" type="tns:ResultOfResultsAttendanceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultOfResultsAttendanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfResultsAttendanceResponse" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResultsAttendanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultsAttendanceResponse" nillable="true" type="tns:ResultsAttendanceResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultsAttendanceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseSerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentIdentity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SignMethod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SignType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SignedTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchAbsence">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_OCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_CourseDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAbsenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAbsenceResult" type="tns:ApiResultOfListOfAbsenceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiResultOfListOfAbsenceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Results" type="tns:ArrayOfResultsAbsenceResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResultsAbsenceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResultsAbsenceResponse" nillable="true" type="tns:ResultsAbsenceResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResultsAbsenceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BranchValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClassName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseSerialNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CourseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentIdentity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudentName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveMethod" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveTypeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveTypeValue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveTimeList" type="tns:ArrayOfLeaveTimeModel" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveReason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LeaveStatus" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LeaveMemo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLeaveTimeModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LeaveTimeModel" nillable="true" type="tns:LeaveTimeModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LeaveTimeModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StartTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EndTime" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchAttendanceR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s_OCID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="s_CourseDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchAttendanceRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchAttendanceRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchAttendanceSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAttendance" />
  </wsdl:message>
  <wsdl:message name="SearchAttendanceSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAttendanceResponse" />
  </wsdl:message>
  <wsdl:message name="SearchAbsenceSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAbsence" />
  </wsdl:message>
  <wsdl:message name="SearchAbsenceSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAbsenceResponse" />
  </wsdl:message>
  <wsdl:message name="SearchAttendanceRSoapIn">
    <wsdl:part name="parameters" element="tns:SearchAttendanceR" />
  </wsdl:message>
  <wsdl:message name="SearchAttendanceRSoapOut">
    <wsdl:part name="parameters" element="tns:SearchAttendanceRResponse" />
  </wsdl:message>
  <wsdl:portType name="StudentSchedulesSoap">
    <wsdl:operation name="SearchAttendance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出勤記錄搜尋OF</wsdl:documentation>
      <wsdl:input message="tns:SearchAttendanceSoapIn" />
      <wsdl:output message="tns:SearchAttendanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchAbsence">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">缺勤記錄搜尋OF</wsdl:documentation>
      <wsdl:input message="tns:SearchAbsenceSoapIn" />
      <wsdl:output message="tns:SearchAbsenceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchAttendanceR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出勤記錄搜尋SR</wsdl:documentation>
      <wsdl:input message="tns:SearchAttendanceRSoapIn" />
      <wsdl:output message="tns:SearchAttendanceRSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StudentSchedulesSoap" type="tns:StudentSchedulesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAttendance">
      <soap:operation soapAction="http://wltims.Wdaline/StudentSchedules/SearchAttendance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAbsence">
      <soap:operation soapAction="http://wltims.Wdaline/StudentSchedules/SearchAbsence" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAttendanceR">
      <soap:operation soapAction="http://wltims.Wdaline/StudentSchedules/SearchAttendanceR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StudentSchedulesSoap12" type="tns:StudentSchedulesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchAttendance">
      <soap12:operation soapAction="http://wltims.Wdaline/StudentSchedules/SearchAttendance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAbsence">
      <soap12:operation soapAction="http://wltims.Wdaline/StudentSchedules/SearchAbsence" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchAttendanceR">
      <soap12:operation soapAction="http://wltims.Wdaline/StudentSchedules/SearchAttendanceR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentSchedules">
    <wsdl:port name="StudentSchedulesSoap" binding="tns:StudentSchedulesSoap">
      <soap:address location="https://wltims.wda.gov.tw/WdaLine/StudentSchedules.asmx" />
    </wsdl:port>
    <wsdl:port name="StudentSchedulesSoap12" binding="tns:StudentSchedulesSoap12">
      <soap12:address location="https://wltims.wda.gov.tw/WdaLine/StudentSchedules.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>