Web References/bli_wsv4/get_data3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/bli_wsv/get_data3" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/bli_wsv/get_data3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/bli_wsv/get_data3">
      <s:element name="get_detail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sysname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Iname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="utype" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="begin_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_detailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_detailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_penson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sysname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Iname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="birthday" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="begin_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_pensonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_pensonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_detailSoapIn">
    <wsdl:part name="parameters" element="tns:get_detail" />
  </wsdl:message>
  <wsdl:message name="get_detailSoapOut">
    <wsdl:part name="parameters" element="tns:get_detailResponse" />
  </wsdl:message>
  <wsdl:message name="get_pensonSoapIn">
    <wsdl:part name="parameters" element="tns:get_penson" />
  </wsdl:message>
  <wsdl:message name="get_pensonSoapOut">
    <wsdl:part name="parameters" element="tns:get_pensonResponse" />
  </wsdl:message>
  <wsdl:portType name="get_data3Soap">
    <wsdl:operation name="get_detail">
      <wsdl:input message="tns:get_detailSoapIn" />
      <wsdl:output message="tns:get_detailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_penson">
      <wsdl:input message="tns:get_pensonSoapIn" />
      <wsdl:output message="tns:get_pensonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="get_data3Soap" type="tns:get_data3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_detail">
      <soap:operation soapAction="http://tempuri.org/bli_wsv/get_data3/get_detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_penson">
      <soap:operation soapAction="http://tempuri.org/bli_wsv/get_data3/get_penson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="get_data3Soap12" type="tns:get_data3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_detail">
      <soap12:operation soapAction="http://tempuri.org/bli_wsv/get_data3/get_detail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_penson">
      <soap12:operation soapAction="http://tempuri.org/bli_wsv/get_data3/get_penson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="get_data3">
    <wsdl:port name="get_data3Soap" binding="tns:get_data3Soap">
      <soap:address location="https://wltims.wda.gov.tw/bli_wsv4/get_data3.asmx" />
    </wsdl:port>
    <wsdl:port name="get_data3Soap12" binding="tns:get_data3Soap12">
      <soap12:address location="https://wltims.wda.gov.tw/bli_wsv4/get_data3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>